{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="info">
        <h1 class="intro">Cofee Latte</h1>
        <p>Coffee is a beverage brewed from the roasted and ground seeds of the tropical evergreen coffee plant. Coffee is one of the three most popular beverages in the world (alongside water and tea), and it is one of the most profitable international commodities.</p>
        <p class="user">&reg; Aziz</p>
    </div>
    <div class="info">
        <h1 class="intro">Cofee Americano</h1>
        <p>A Café Americano, or what we just call an Americano, combines freshly pulled shots of espresso with hot water to achieve the size of a standard cup of brewed coffee</p>
        <p class="user">&reg; Artur</p>
    </div>
    <div class="info">
        <h1 class="intro">Cofee Capuccino</h1>
        <p>A Café Americano, or what we just call an Americano, combines freshly pulled shots of espresso with hot water to achieve the size of a standard cup of brewed coffee</p>
        <p class="user">&reg; Sulayman</p>
    </div>
</div>
{% endblock %}